.container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.pokemon{
    background-color: rgb(240, 239, 239);
    height: 400px;
    width: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-container{
    background-color: rgb(247, 247, 245);
    border-radius: 100px;
    height: 180px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 100px;
}
.info{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
.number{
    background-color: rgb(192, 191, 191);
    width: 30px;
    height: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
}
